/.settings/
/.mtj.tmp/
/deployed/
/bin/
/.idea/**
!/.idea/artifacts
!/.idea/artifacts/**
!/.idea/modules.xml
!/.idea/misc.xml
.mtj
build.properties
proguard-local.cfg
*.class
*.jar
*.zip

/res/*.png
/res/*.wav
/res/*.mp3
/res/map
!/res/logo.png
