/.settings/
/.mtj.tmp/
/deployed/**
!/deployed/release.sh
/bin/
/.idea/**
!/.idea/artifacts
!/.idea/artifacts/**
!/.idea/modules.xml
!/.idea/misc.xml
proguard-local.cfg
*.class
*.jar
*.zip

/orig_res/**
!dummy.txt
/res/map
!/res/logo.png
!/res/shadow.png
/.processed/
